
body{
    background: linear-gradient(90deg, 
    rgba(2, 2, 2, 1) 0%, 
    rgba(0, 213, 255, 0.9) 30%, 
    rgba(0, 212, 255, 0.9) 70%, 
    rgba(2, 2, 2, 1) 100%);
    width: 800px;
    margin: 0 auto;
    align-items: center;
}

header{
    border-radius: 16px;
    background-color: rgba(176, 196, 222, 0.486);
    margin: 10px auto;
    font-size: 26px;
    text-align: center;
    align-items: center;
}

.keyBox-wrapper{
    margin-top: 100px;
    display: flex;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

.keyBox{
    border-radius: 16px;
    background-color: rgba(176, 196, 222, 0.486);
    width: 80px;
    text-align: center;
    font-size: 48px;
    box-shadow: 0px 4px 15px 4px rgba(0,0,0,0.49);
    cursor: pointer;
}

.keyBox p {
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    background-color: rgba(129, 153, 184, 0.586);
    font-size: 16px;
}

.message{
    border-radius: 16px;
    background-color: rgba(176, 196, 222, 0.486);
    text-align: center;
    font-size: 40px;
}