.container{
    /* border: 1px solid black; */
    /* height: 50px; */
    display: flex;

}

.keyBox{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: flex;
    
    column-gap: 20px;
}