
body{
    background: linear-gradient(90deg, 
    rgba(2, 2, 2, 1) 0%, 
    rgba(0, 213, 255, 6) 50%, 
    /* rgba(0, 212, 255, 0.9) 70%,  */
    rgba(2, 2, 2, 1) 100%);
    width: 800px;
    margin: 0 auto;
    align-items: center;
}

header{
    margin: 10px auto;
    font-size: 26px;
    align-items: center;
}

.keyBox-wrapper{
    margin-top: 100px;
    display: flex;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly
}

header, .keyBox, .message{
    border-radius: 16px;
    background-color: rgba(176, 196, 222, 0.5);
    text-align: center;

}

.keyBox{
    width: 80px;
    font-size: 58px;
    cursor: pointer;
    box-shadow: 0px 0px 1px rgba(218, 231, 38, 0.8);
}

.keyBox:hover{
    height: 35%;
    box-shadow: 0px 4px 15px 4px rgba(218, 231, 38, 0.8);
    transition: box-shadow 0.2s ease-in-out;
}

.keyBox p {
    margin: 5px;
    padding: 5px;
    border-radius: 16px;
    background-color: rgba(129, 153, 184, 0.8);
    font-size: 16px;
}

.message{
    font-size: 40px;
}